body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: white;
}

.footer {
    color: black;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    width: 400px;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
}

.display {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    width: 300px;
}

.firstDisplay {
    font-size: xx-large;
    margin-left: auto;
    display: flex;
}

.secondDisplay {
    font-size: xx-large;
    margin-left: auto;
    height: 30px;
    margin-right : 4px;
}

.display2 {
    margin-left: 4px;
}

.button {
    display: flex;
    flex-direction: column;
}

button {
    width: 85px;
    margin: 5px;
    height: 75px;
    font-size: x-large;
    background-color: rgb(32, 32, 32);
    border: none;
    color: white;
}

#equals {
    color: rgb(206, 206, 0);
}

#clear {
    color: rgb(202, 0, 0);
}

#delete {
    color: rgb(61, 61, 250);
}

#clear, #delete {
    width: 180px;
    height: 70px;
}

.row1 {
    display: flex;
    justify-content: space-evenly;
}

.row2 {
    display: flex;
    justify-content: space-evenly;
}

.row3 {
    display: flex;
    justify-content: space-evenly;
}

.row4 {
    display: flex;
    justify-content: space-evenly;
}

.row5 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}